.container_skills {
    width: 100%;
    height: auto;
    //background: rgb(0, 204, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $space;
    .sk {
        background: #1a1a1a;
        border: 1px solid #242424;
        height: 380px;
        display: flex;
        align-items: start;
        justify-content: end;
        flex-direction: column;
        padding: 130px 30px 45px;
        gap: 16px;
        box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 3px;
        transform: translateY(0);
        border-radius: 6px;
        cursor: pointer;
        //background: red;
        transition: all 0.3s ease-in;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            background: rgba(159, 159, 159, 0.1);
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.05) 3px 0px 3px;
            rotate: 0deg;
            transition: all 0.2s linear;
            svg{
                transition: all 0.1s linear;
                color: $gray;
            }
            
        }
        // &:hover .icon{
        //     rotate: 10deg;
        //     svg{
        //         color: #fbf5b1;
        //     }
        // }
        .tit {
            font-size: 24px;
            font-weight: 500;
            color: #9f9f9f;
            text-transform: capitalize;
        }
        .txt {
            flex: 1 1 auto;
            font-size: 16px;
            text-align: left;
            font-weight: 300;
            color: $gray;
            line-height: 1.4;
        }
    }
}


@include respond('phone'){
    .container_skills {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .container_skills .sk .icon {
        width: 44px;
        height: 44px;
        svg{
            width: 25px;
            height: 25px;
        }
    }
    .container_skills .sk .tit {
        font-size: 20px;
    }
    .container_skills .sk .txt {
        font-size: 14px;
    }
    .container_skills .sk {
       
        height: auto;
        padding: 60px 30px 30px;
    }
}