@import "./globle";
@import "./inc";

.cover {
    width: 100%;
    height: 100dvh;
    //background: blue;
    display: flex;
    flex-direction: column;
    .nv {
       @extend %nv_and_footer;
       position: relative;
       svg{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,8.5px);
        width: 16px;
        height: 16px;
        color: #242424;
       }
       span.line{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,1px);
        height: 3px;
        width: 12px;
        background: $black;
       }
    }
    .content {
        flex: 1;
        //background: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: $space * 1.5;
        .txt_bg{
            position: fixed;
            font-size: 9rem;
            line-height: 0.7;
            text-align: center;
            font-style: normal;
            color: transparent;
            left: 50%;
            top: 0;
            transform: translate(-50%,120px);
            z-index: -1;
            font-weight: 900;
            text-transform: uppercase;
            -webkit-text-stroke: 2px rgba(255, 255, 255, 0.028);
            
        }
        .photo_user {
            background: #1a1a1a;
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            //overflow: hidden;
            border: 1px solid #242424;
            //box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02);
            
            .photo_mask {
                overflow: hidden;
                //background: red;
                border-radius: 50%;
                height: 100%;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                transform: translateX(0);
                filter: grayscale(60%);
                transition: transform 0.3s ease-in-out;
            }
            span {
                position: absolute;
                top: 30px;
                left: 30px;
                z-index: -2;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                & img {
                    transform: translateX(10px);
                }

                & span {
                    opacity: 1;
                    top: -10px;
                    left: -10px;
                }
            }
        }
        .name_user {
            display: flex;
            align-items: center;
            gap: 5px;
            svg {
                width: 20px;
                height: 20px;
                transform: translateY(-1px);
                //color: #ff9a51;
                color: #fbf5b1;
            }
            span {
                color: $gray;
                font-size: 18px;
            }
        }
        .info_user {
            width: 90%;
            max-width: 650px;
            h1 {
                font-size: 32px;
                line-height: 1.2;
                text-align: center;
                @extend %text_gradient;
            }
        }
        button {
            text-transform: capitalize;
            width: 200px;
            height: 44px;
            border: 1px solid #242424;
            background: #1a1a1a;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 16px;
            color: $gray;
            cursor: pointer;
            border-radius: 6px;
            svg {
                width: 18px;
                transform: translateY(1px);
                transition: all 0.3s ease-in-out;
            }
            &:hover svg {
                transform: translateY(1px) rotate(90deg);
            }
        }
    }
    .slider {
        height: 130px;
        padding-block: 15px;
        background: #1a1a1a;
        border-top: 1px solid #242424;
        border-bottom: 1px solid #242424;

        & > section {
            margin: 0 auto;
            width: 100%;
            max-width: $w;
            position: relative;
            &::after {
                content: "";
                height: 100%;
                width: 20px;
                background: #1a1a1a;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(90deg, #1a1a1a 0%, #0000 100%);
            }
            &::before {
                content: "";
                height: 100%;
                width: 20px;
                background: #1a1a1a;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 5;
                background: linear-gradient(-90deg, #1a1a1a 0%, #0000 100%);
            }
            //background: red;
        }
    }
}


@include respond('phone'){
    .cover{
        padding-bottom: $space;
        .content {
            gap: 16px;
        }
        .list{
            display: none !important;
            
        }
        .content .info_user h1 {
            font-size: 20px; 
            line-height: 1.4;
        
        }
    }
    .cover .content .name_user span {
        font-size: 16px;
    }
    .cover .content button {
        font-size: 14px;
        width: 170px;
        height: 40px;
    }
    .cover .content .photo_user {
        width: 110px;
        height: 110px;
    }
    .cover .slider {
        height: 70px;
        padding-block: 0; 
        background: transparent;
        border: none;
    }
    .splide__slide svg {
        height: 25px !important;
        width: 25px  !important;
    }
    .footer a.email, .cover .nv a.email {
       font-size: 14px;
       i{
        transform: translateY(1px);
        font-size: 14px;
       }
    }
    .footer, .cover .nv {
        height: 70px !important;
    }
    .cover .content .info_user {
        width: 80%;
    }
    .cover .nv svg,.cover .nv span.line {
        display: none;
    }
    .footer a.email, .cover .nv a.email {
        display: none !important;
    }
}