@import "./globle";

.cover {
    width: 100%;
    height: 100dvh;
    //background: blue;
    display: flex;
    flex-direction: column;
    .nv {
        height: $h;
        //background: $black;
        width: 100%;
        border-bottom: 1px solid #242424;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        a.email {
            color: $gray;
            display: flex;
            align-items: center;
            gap: 4px;
            i {
                font-size: 16px;
            }
        }
        ul.list {
            display: flex;
            gap: $space;
            justify-content: center;
            align-items: center;
            span {
                color: $gray;
                height: 50px;
                display: flex;
                align-items: center;
                font-size: 12px;
                
            }
            li {
                a {
                    color: $gray;
                    text-transform: capitalize;
                }
            }
        }
        button.menu {
            display: none;
            visibility: hidden;
        }
    }
    .content {
        flex: 1;
        //background: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: $space * 1.5;
        .photo_user {
            background: #1a1a1a;
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            //overflow: hidden;
            border: 1px solid #242424;
            .photo_mask {
                overflow: hidden;
                //background: red;
                border-radius: 50%;
                height: 100%;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                transform: translateX(0);
                filter: grayscale(60%);
                transition: transform 0.3s ease-in-out;
            }
            span {
                position: absolute;
                top: 30px;
                left: 30px;
                z-index: -2;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                & img {
                    transform: translateX(10px);
                    
                }

                & span {
                    opacity: 1;
                    top: -10px;
                    left: -10px;
                }
            }
        }
        .name_user {
            display: flex;
            align-items: center;
            gap: 5px;
            i {
                font-size: 18px;
                transform: translateY(1px);
                color: #fbf5b1;
            }
            span {
                color: $gray;
                font-size: 18px;
            }
        }
        .info_user {
            width: 90%;
            max-width: 650px;
            h1 {
                font-size: 32px;
                line-height: 1.2;
                text-align: center;
                @extend %text_gradient;
            }
        }
        button {
            text-transform: capitalize;
            width: 200px;
            height: 44px;
            border: 1px solid #242424;
            background: #1a1a1a;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 16px;
            color: $gray;
            cursor: pointer;
            border-radius: 6px;
            i {
                font-size: 18px;
                transform: translateY(1px);
                transition: all 0.3s ease-in-out;
            }
            &:hover i {
                transform: translateY(1px) rotate(90deg);
            }
        }
    }
    .slider {
        height: 130px;
        padding-block: 15px;
        background: #1a1a1a;
        border-top: 1px solid #242424;
        border-bottom: 1px solid #242424;
        
        & > section{
           margin: 0 auto;
            width: 100%;
            max-width: $w;
            position: relative;
            &::after{
                content: '';
                height: 100%;
                width: 20px;
                background: #1a1a1a;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(90deg, #1a1a1a 0%, #0000 100%);
            }
            &::before{
                content: '';
                height: 100%;
                width: 20px;
                background: #1a1a1a;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 5;
                background: linear-gradient(-90deg, #1a1a1a 0%, #0000 100%);
            }
            //background: red;
        }
    }
}
