%nv_and_footer {
    height: $h;
    //background: $black;
    width: 100%;
    border-bottom: 1px solid #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    a.email {
        color: $gray;
        display: flex;
        align-items: center;
        gap: 4px;
        transition: all 0.3s ease-in-out;
        i {
            font-size: 16px;
        }
        &:hover {
            color: #fbf5b1;
        }
    }
    ul.list {
        display: flex;
        gap: $space;
        justify-content: center;
        align-items: center;
        span {
            color: $gray;
            height: 50px;
            display: flex;
            align-items: center;
            font-size: 12px;
        }
        li {
            a {
                color: $gray;
                text-transform: capitalize;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: #fbf5b1;
                }
            }
        }
    }
    button.menu {
        display: none;
        visibility: hidden;
    }
}

@include respond("phone") {
    .cover .nv {
        height: 70px;
        width: 100%;
        border-bottom: 1px solid #242424;
        //border: none;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: flex-end;
        background: $black;
        z-index: 99;
    }
    .cover .nv button.menu {
        display: flex;
        visibility: visible;
        width: 20px;
        height: 18px;
        flex-direction: column;
        border: none;
        cursor: pointer;
        align-items: end;
        background: transparent;
        justify-content: space-between;
        z-index: 99;
        span {
            width: 20px;
            height: 2px;
            background: $white;
            transform-origin: 50% 50%;
            border-radius: 2px;
            translate:0 0;
            rotate: 0;
            transition: translate 0.3s linear,rotate .3s linear,opacity .3s linear;
            &:nth-child(1) {
                //background: blue;
                translate:0 0;
            }
            &:nth-child(2) {
                background: #fbf5b1;
                width: 10px;
                opacity: 1;
            }
            &:nth-child(3) {
                //background: rgb(229, 255, 0);
                translate:0 0;
            }
        }
        &.active {
            span {
                &:nth-child(1) {
                    //background: blue;
                    translate:0 8px;
                    rotate: -45deg;
                }
                &:nth-child(2) {
                    
                    width: 14px;
                    translate:10px 0;
                    opacity: 0;
                }
                &:nth-child(3) {
                    //background: rgb(229, 255, 0);
                    translate:0 -8px;
                    rotate: 45deg;
                }
            }
        }
    }
    .cover .nv ul.list {
        display: flex !important;
        gap: 30px;
        height: 100lvh;
        width: 100vw;
        background: #0f0f0f00;
        backdrop-filter: blur(8px);
        position: fixed;
        flex-direction: column;
        left: -100vw;
        top: 0;
        z-index: 20;
        justify-content: center;
        align-items: center;
        padding-inline: $space;
        border-radius: 0 100vh 0 0;
        transition: all 0.4s linear;
        li {
            a {
                font-size: 20px !important;
                font-weight: 400;
                text-transform: uppercase;
                position: relative;
                left: -100px;
                top: -50px;
                opacity: 0;
                filter: blur(5px);
                transition: all 0.6s cubic-bezier(.22,.61,.36,1), filter 1.2s ease-in-out;
            }
            &:nth-of-type(1) {
                a {
                    transition-delay: 0.1s;
                    
                }
            }
            &:nth-of-type(2) {
                a {
                    transition-delay: 0.3s;
                }
            }
            &:nth-of-type(3) {
                a {
                    transition-delay: 0.4s;
                }
            }
            &:nth-of-type(4) {
                a {
                    transition-delay: 0.4s;
                }
            }
        }
        span {
            display: none;
        }
        &.avtive {
            left: 0;
            border-radius: 0 !important;
            background: #0f0f0fe3;
            a {
                left: 0;
                top: 0;
                opacity: 1;
                filter: blur(0);
            }
        }
    }
}
