.percent_skills{
    //background: red;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: $space * 3;
    .box{
        //background: blue;
        display: flex;
        flex-direction: column;
        gap: $space * 0.5;
        &_circle{
            width: 100%;
            aspect-ratio: 1 !important;
            background-image: conic-gradient(rgb(159, 159, 159) 0%, rgb(36, 36, 36) 0%);
            clip-path: circle(50.0% at 50% 50%);
            position: relative;
            transform: rotate(90deg);
            transition: all .3s linear;
            &::after{
                content: attr(data-percent) " %";;
                width:94%;
                background: $black;
                aspect-ratio: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(-90deg);
                clip-path: circle(50.0% at 50% 50%);
                display: flex;
                align-items: center;
                justify-content: center;
                color: $gray;
                font-size: 16px;
                
            }
        }
        &_tit{
            height: 36px;
            //background: greenyellow;
            display: flex;
            align-items: center;
            justify-content: center;
            .name{
                font-size: 16px;
                color: $gray;
                text-transform: capitalize;
            }
        }
    }
}


@include respond('phone'){
    .percent_skills {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: $space*2 $space*1.0;
    }
    .percent_skills .box_circle::after {
        width: 96%;
        font-size: 12px;
    }
    .percent_skills .box_tit .name {
        font-size: 12px;
        text-align: center;
    }
    .percent_skills .box_tit {
        height: 30px;
    }
}