@import "./globle";
@import "./cover";
@import "./txt_tittle";
@import "./container_skills";
@import "./percent_skills";
@import "./contact";
@import "./footer";
@import "./loading";
@import "./form_box";
@import "./scroll_progress";

:root {
    --white-color: #fff;
    --black-color: #161616;
    --main-color: red;
    --color-red: red;
    --green-color: #25d952;
    --gray-color: #9f9f9f;
}

body {
    background-color: $black;
    background-image: url("./../public/img/bk.svg");
    background-size: 300px;
    background-attachment: fixed;
    overflow-x: hidden !important;
}

.splide_hidden {
    display: none !important;
}

.splide__slide {
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    //border: 1px solid #242424;

    svg {
        //background: blue;
        height: 40px;
        width: 40px;

        path {
            fill: $gray;
            opacity: 0.4;
            transition: all 0.3s linear;
        }
    }

    &.is-active {
        svg {
            path {
                opacity: 1;
            }
        }
    }
}
.container {
    max-width: $w + (2 * $space);
    width: 100%;
    min-height: 100dvh;
    //background: $black;
    margin: 0 auto;
    padding-inline: $space;
}

.nv {
    width: 100%;
    max-width: $w + (2 * $space);
    margin: 0 auto;
    padding-inline: $space;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #e9e9e9 0%, #515151 100%);
}

input,
textarea {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.mouse {
    width: 50px;
    height: 50px;
    //background: rgba(251, 245, 177, 0.7);
    //border-radius: 50%;

    //filter: blur(40px);
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0 ease-in-out;
    img{
        animation: mouse_e 5s linear infinite;
    }
}

@keyframes mouse_e {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}


@include respond('phone'){
    .mouse {
       display: none !important;
    }
    
}